In [1]:
#if else ( for conditional situation this concept is used )

friends=['ola','raghu','denever','mohit']

for bdy in friends:
    if bdy =='raghu':
        print(bdy.upper())
    else:
        print(bdy.title())

Ola
RAGHU
Denever
Mohit

In [7]:
#equality check

cars='bmw'
cars=='bmw'

True

In [8]:
ola='cab'
ola=='mad'

False

In [13]:
#conditional statment are case sensitive, ex 1

hi='Denver'
hi.lower()=='denver' #here we store the ower case value at hi then compared it to 'denver' which is already in lower case.

True

In [14]:
hi # the original value still same, lower() function can't change the original value on any variable assigned

'Denver'